<div class="auth-container">
  <mat-card>
    <mat-card-title>Registrarse</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="userData.name" name="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" [(ngModel)]="userData.email" name="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="userData.password" name="password" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="userData.password_confirmation" name="password_confirmation" required>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <button mat-flat-button color="primary" type="submit" class="full-width">Registrarse</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      ¿Ya tienes una cuenta? <a [routerLink]="['/login']">Iniciar Sesión</a>
    </mat-card-actions>
  </mat-card>
</div>